html, body {
    height: 100%;
}

.rounded-right {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.link {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}